@(message: String)

@main("Welcome to Play") {

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <center><h2>Online Exams</h2></center>
  <div class="btn-group btn-group-justified">
    <a href="http://localhost:9090/login" class="btn btn-primary">Home</a>
    <a href="http://localhost:9090/start" class="btn btn-primary">start exam</a>
    <a href="http://localhost:9090/" class="btn btn-primary">Logout</a>
  </div>
</div>
<center>
@message
</center>
</body>
</html>

}
